

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #3AAFA9;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.weekDays-selector input {
    display: none !important;
}

#courseContainer {
    padding-top: 10px;
    padding-bottom: 10px;
}

#eventContainer {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 4px;
    padding-left: 4px;
}

#navbar {
    color: #ffffff;
    background-color: #2B7A7B;
}

.weekDays-selector input[type=checkbox] + label {
    display: inline-block;
    border-radius: 6px;
    background: #dddddd;
    height: 34px;
    width: 30px;
    margin-right: 3px;
    line-height: 34px;
    text-align: center;
    cursor: pointer;
}

.weekDays-selector input[type=checkbox]:checked + label {
    background: #2AD705;
    color: #ffffff;
}

