@{
    ViewBag.Title = "Contact";
}

<body>

    <div id="main-content">
        <div class="container">
            <h2>Contact Us</h2>
            <strong>Support:</strong>   <a href="mailto:worktester13@gmail.com">support@procrastinator.com</a><br />
        </div>
        <hr />
        <div class="slider text-center">
            <img src="~/img/quote.png" alt="quote" height="200" />
        </div>
    </div>

</body>
