@model Procrastinator.Models.CourseSelectionViewModel
@{
    ViewBag.Title = "Courses";
}
<head>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="container">
        <form class="form-inline" action="~/Home/Events" method="post">
            <div id="courseContainer" style="display: none">
                <div class="form-group">
                    @Html.DropDownListFor(m => m.SelectedSubjectType, new SelectList(Model.SubjectTypes, "SubjectTypeId", "Subject"), "Select a Subject", new { @id = "subject", @class = "form-control" })
                    @Html.DropDownListFor(m => m.SelectedCourses, new SelectList(Model.Courses, "Id", "Description"), "Select a Course", new { @id = "course", @class = "form-control" })
                    <span class="glyphicon glyphicon-trash form-group" style="font-size:20px"></span>
                </div>
            </div>
            <div class="form-group" style="padding-top: 20px">
                <input type="hidden" id="end">
                <button type="button" id="addCourse" class="btn btn-primary">Add Course</button>
                <button type="submit" class="btn btn-primary">Next</button>
            </div>
        </form>
    </div>
</body>

@Scripts.Render("~/Scripts/CourseSelection.js")
