@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron" style="background-color:#3AAFA9">
        <h1>Procrastinator</h1>
        <p class="lead" style="color:#ffffff">
            Procrastinator is a fast and easy way to get your life back in order. <br />
            This is great for busy families, on the go businesses, and those who just need a little more help. <br />
            Try it <a href="@Url.Action("Courses", "Home")">now.</a></p>.     
        <form>Schedule Key:<br /><input type="text" /></form>
    </div>
<div class="row" style="background-color:#3AAFA9">
    <div class="col-md-4" style="background-color:#3AAFA9">   
        <h2>Start Now</h2>
        <p style="color:#ffffff">Create your new schedule <a href="@Url.Action("Courses", "Home")">here</a></p>
    </div>
    <div class="col-md-4" style="background-color:#3AAFA9">
        <h2>Quick and Easy</h2>
        <p style="color:#ffffff">Procrastinator can help get your schedule on track.</p>
    </div>
    <div class="col-md-4" style="background-color:#3AAFA9">
        <h2>No Longer Be Late</h2>
        <p style="color:#ffffff">Be on time with deadlines and meetings.</p>
    </div>
</div>