@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>Welcome</h1>
        <p class="lead">Description of the application</p>
        
    </div>
<div class="row">
    <div class="col-md-4">
        <h2>Reason 1</h2>
        <p>Create a new schedule <a href="@Url.Action("Schedule", "Home")">here</a></p>
    </div>
    <div class="col-md-4">
        <h2>Reason 2</h2>
        <p>Why reason 2 is helpful</p>
    </div>
    <div class="col-md-4">
        <h2>Reason 3</h2>
        <p>Why reason 3 is helpful</p>
    </div>
</div>