@model Procrastinator.Models.CourseSelectionViewModel
@{
    ViewBag.Title = "Schedule";
}
<head>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="container">

        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home">Courses</a></li>
            <li><a data-toggle="tab" href="#menu1">Schedule</a></li>
        </ul>

        <form class="form-inline">
            <div class="tab-content">
                <div id="home" class="tab-pane fade in active">
                    <div id="courseContainer">
                        <div class="form-group">
                            @Html.DropDownListFor(m => m.SelectedSubjectType, new SelectList(Model.SubjectTypes, "SubjectTypeId", "Subject"), "Select a Subject", new { @id = "subject", @class = "form-control" })
                            @Html.DropDownListFor(m => m.Courses, new SelectList(Model.Courses, "Id", "Description"), "Select a Course", new { @id = "course", @class = "form-control" })
                            <span class="glyphicon glyphicon-trash form-group" style="font-size:20px"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="hidden" id="end">
                        <button type="button" id="addCourse" class="btn btn-primary">Add Course</button>
                    </div>
                </div>
                <div id="menu1" class="tab-pane fade">
                    <h4>Add events to your schedule:</h4>
                    <div id="eventContainer">
                        <select id="EventType" name="EventType" class="form-control" style="display: inline-block">
                            <option value=""> Select Event </option>
                        </select>
                        <select id="Duration" name="Duration" class="form-control" style="display: inline-block">
                            <option value=""> Select Duration </option>
                        </select>
                        <div class="weekDays-selector" style="display: inline-block">
                            <input type="checkbox" id="weekday-mon" class="weekday" />
                            <label for="weekday-mon">M</label>
                            <input type="checkbox" id="weekday-tue" class="weekday" />
                            <label for="weekday-tue">T</label>
                            <input type="checkbox" id="weekday-wed" class="weekday" />
                            <label for="weekday-wed">W</label>
                            <input type="checkbox" id="weekday-thu" class="weekday" />
                            <label for="weekday-thu">T</label>
                            <input type="checkbox" id="weekday-fri" class="weekday" />
                            <label for="weekday-fri">F</label>
                            <input type="checkbox" id="weekday-sat" class="weekday" />
                            <label for="weekday-sat">S</label>
                            <input type="checkbox" id="weekday-sun" class="weekday" />
                            <label for="weekday-sun">S</label>
                        </div>
                    </div>                   
                </div>
            </div>
        </form>
    </div>


</body>
<script>
    $(function () {
        $("[name='SelectedSubjectType']").on("change", function () {
            debugger;
            var index = jQuery(this).attr("id").replace("subject", "");
            var selectedSubject = $(this).find(":selected").val();

            $.ajax({
                type: 'POST',
                url: "/Courses/GetCourses",
                dataType: "json",
                data: { subjectTypeId: selectedSubject },
                success: function (data) {
                    var $dropdown = $("#course" + index);
                    $dropdown.empty();
                    $("#course" + index).append($("<option />").val('').text('Select a Course'));
                    $.each(data, function () {
                        $dropdown.append($("<option />").val(this.Id).text(this.Description));
                    });
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("some error");
                }
            });
        });
    });

    var index = 2;
    $("#addCourse").click(function () {
        debugger;
        var newRow = $("#courseContainer").clone(true, true);
        newRow.find('label').hide();
        jQuery('#subject', newRow).prop('id', 'subject' + index);
        jQuery('#course', newRow).attr('id', 'course' + index);
        jQuery('#remove', newRow).attr('id', 'remove' + index);

        jQuery(newRow).insertBefore('#end');
        $('#subject' + index).change();

        index++;
    });

    $('body').on('click', '.glyphicon-trash', function () {
        debugger;
        $(this).parent().parent('div').remove();
    });
</script>

