<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Content/font-awesome.css" />
    <link rel="stylesheet" href="~/Scripts/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Content/isotope.css" media="screen" />
    <link rel="stylesheet" href="~/Content/style.css">

</head>

<body>
    <div class="slider text-center">
        <img src="~/img/main-bg.png" alt="" />
    </div>

    <!-- column content -->
    <div id="main-content">
        <div class="container">
            <div class="row">
                <hr />
                <div class="big-box">
                    <div class="col-lg-12">
                        <div class="col-md-4">
                            <div class="box-bg">
                                <div class="wow bounceInLeft" data-wow-duration="2s" data-wow-delay="0.9s">
                                    <div class="align-center">
                                        <i class="fa fa-fighter-jet fa-5x"></i>
                                        <h4 class="text-bold">Quick and Easy</h4>
                                        <p>
                                            Let us help you get back on track with our time management system.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="box-bg">
                                <div class="wow bounceInLeft" data-wow-duration="2s" data-wow-delay="0.6s">
                                    <div class="align-center">
                                        <i class="fa fa-play fa-5x"></i>
                                        <h4 class="text-bold">Start Now</h4>
                                        <p>
                                            Create your new task list <a href="@Url.Action("Courses", "Home")">here</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="box-bg">
                                <div class="wow bounceInLeft" data-wow-duration="2s" data-wow-delay="0.2s">
                                    <div class="align-center">
                                        <i class="fa fa-clock-o fa-5x"></i>
                                        <h4 class="text-bold">Time Management</h4>
                                        <p>
                                            Be on time with deadlines and course work.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <hr />
                <div class="wow bounceInLeft">
                    <div class="col-lg-6">
                        <a href="#" class="thumbnail">
                            <img src="~/img/miles.png" alt="">
                        </a>
                        <a href="#" class="thumbnail">
                            <img src="~/img/time2.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="wow bounceInRight">
                    <div class="col-lg-6">
                        <br /> <br /> <br /> <br />
                        <a href="#" class="thumbnail">
                            <img src="~/img/scarcest.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end column content -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.isotope.min.js"></script>
    <script src="~/Scripts/fancybox/jquery.fancybox.pack.js"></script>
    <script src="~/Scripts/wow.min.js"></script>
    <script src="~/Scripts/functions.js"></script>
    <script type="text/javascript">
        new WOW().init();
    </script>

</body>

</html>
